footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    font-size: var(--body-font-size-s);
}

footer .footer > div {
    margin: auto;
    max-width: var(--content-max-width);
    padding: var(--spacing-l) var(--content-padding) var(--content-padding);
}

footer .footer a:any-link {
    color: var(--color-footer-text);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
}

footer .footer a:hover {
    text-decoration: underline;
}

footer .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer ul li {
    padding: var(--spacing-xxs) 0;
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
    color: var(--color-footer-text);
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: var(--spacing-m);
}

footer .footer .columns-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-l);
}

footer .footer .section:last-child {
    border-top: 1px solid rgb(255 255 255 / 20%);
    padding-top: var(--spacing-m);
    margin-top: var(--spacing-l);
}

footer .footer .section:last-child p {
    color: var(--text-color-secondary);
    font-size: var(--body-font-size-xs);
}

footer .footer .icon img {
    filter: brightness(0) invert(1);
    height: 20px;
    width: 20px;
}

@media (width >= 768px) {
    footer .footer .columns-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 1024px) {
    footer .footer > div {
        padding: var(--spacing-l) var(--content-padding) var(--content-padding);
    }

    footer .footer .columns-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
